.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#imageCanvas {
	border: 1px solid black;	
}

#canvas-container {
	margin-top: 5px;
	margin-bottom: 15px;  	
}

.row-padded {
  padding-top: 5px;  
  padding-bottom: 15px;  
}

.label-small  {
	font-size: 12px;	
}

.preview-canvas {
	border:1px solid black;
}